@{
    ViewBag.Title = "About TechOps Team";
    ViewBag.Message = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Provide support to clients related to technical and operational aspects of
    products, including troubleshooting, ticketing system updates, support
    case acknowledgments, provisioning activities
</p>

<img src="~/Images/TechOpsLogo.png" alt="logo">

  